<% layout('./layout/boilerplate') %>
<h3><%=place.title%></h3>
<ul>
  <li>Price: <%=place.price%></li>
  <li>Location: <%=place.location%></li>
  <li>Description: <%=place.description%></li>
</ul>
<a href="/places">Go back</a>
<a href="<%=place.id%>/edit">Edit</a>
<form action="<%=place.id%>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
