<% layout('./layout/boilerplate') %>
<form action="/places/<%=place.id%>?_method=PATCH" method="POST" class="d-flex flex-column align-items-center">
  <div class="mb-3">
  <label for="title" class="form-label">Place name</label>
  <input
    id="title"
    type="text"
    class="form-control"
    name="place[title]"
    placeholder="River Camp"
    value="<%=place.title%>"
  />
</div>
  <div class="mb-3">
  <label for="price" class="form-label">Price</label>
  <input
    id="price"
    type="number"
    class="form-control"
    name="place[price]"
    placeholder="199,99"
    value="<%=place.price%>"
  />
</div>
  <div class="mb-3">
  <label for="dsc" class="form-label">Description</label>
  <textarea
    id="dsc"
    class="form-control"
    name="place[description]"
    placeholder="Comfy!"
    value="<%=place.description%>"
    rows="4"
  ></textarea>
</div>
  <div class="mb-3">
  <label for="location" class="form-label">Location</label>
  <input
    id="location"
    type="text"
    class="form-control"
    name="place[location]"
    placeholder="Warsaw, Poland"
    value="<%=place.location%>"
  />
</div>
  <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input id="image" type="text" class="form-control" name="place[img]" placeholder="e.g. https://picsum.photos/400/300" value="<%=place.img%>"/>
  </div>
  <div class="d-flex justify-content-center">
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/places/<%=place.id%>" class="btn btn-danger">Cancel</a>
  </div>
</div>
</form>

