<% layout('./layout/boilerplate') %>
<h3>Edit <%= place.title %></h3>
<form action="/places/<%=place.id%>?_method=PATCH" method="POST">
  <input
    type="text"
    name="place[title]"
    placeholder="Place title"
    value="<%=place.title%>"
  />
  <input
    type="number"
    name="place[price]"
    placeholder="Price"
    value="<%=place.price%>"
  />
  <input
    type="text"
    name="place[description]"
    placeholder="description"
    value="<%=place.description%>"
  />
  <input
    type="text"
    name="place[location]"
    placeholder="location"
    value="<%=place.location%>"
  />
  <button type="submit">Submit</button>
</form>
<a href="/places/<%=place.id%>">Cancel</a>
